<%= form_for([@empresa, Voto.new]) do |f| %>
	<table>
		<% @areas.each do |area| %>
			<tr>
				<td class="hidden"><%= area.id %></td>
	    		<td><%= area.nombre %></td>
	    		<% @calificaciones.each do |calificacion| %>
			    	<td>
				    	<input type="radio" name="Area_<%= area.id %>" id="Id_<%= area.id %>_<%= calificacion.id %>" class="css-checkbox" checked="checked" />
				    	<label for="Id_<%= area.id %>_<%= calificacion.id %>" class="css-label">
				    		<%= image_tag('caritas/negras/' + calificacion.numero.to_s + '.png', height: '40', width: '40') %>
				    	</label>
			    	</td>
			    <% end %>
	    	</tr>
	    <% end %>
	</table>
	<%= f.text_field :email, placeholder: 'Tu Email', :autocomplete => :off %>
    <%= f.submit 'Opinar' %>
    <%= link_to 'Regresar', empresas_path, :class => 'button call_to_action demi-full-width' %>
<% end %>

