<h1>Listing votos</h1>

<table>
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Email</th>
      <th>Calificacion</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votos.each do |voto| %>
      <tr>
        <td><%= voto.empresa_id %></td>
        <td><%= voto.email %></td>
        <td><%= voto.calificacion_id %></td>
        <td><%= voto.area_id %></td>
        <td><%= link_to 'Show', voto %></td>
        <td><%= link_to 'Edit', edit_voto_path(voto) %></td>
        <td><%= link_to 'Destroy', voto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voto', new_voto_path %>
