<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @voto.empresa_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @voto.email %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @voto.calificacion_id %>
</p>

<p>
  <strong>Area:</strong>
  <%= @voto.area_id %>
</p>

<%= link_to 'Edit', edit_voto_path(@voto) %> |
<%= link_to 'Back', votos_path %>
