<div class="wrapper">
	<div id="header">
		<div class="contain-to-grid">
			<div class="row">
				<div class="large-4 small-4 columns">
					<div class="hide-for-small">
						<h2 class="logo">PatojoChispudo.com</h2>
					</div>
				</div>
			</div>
			<div class="top-bar">
				<section class="top-bar-section">
					<ul class="right main">
						<li><a href="#">Como Funciona</a></li>
						<li class="has-dropdown not-click">
							<a href="#">More Examples</a>
							<ul class="dropdown">
								<li class="title back js-generated"><h5><a href="#">sdfsfas</a></h5></li>
								<li><a class="parent-link js-generated" href="#">More Examples</a></li>
								<li><a href="#">More Examples</a></li>
								<li><a href="#">More Examples Again</a></li>
							</ul>
						</li>
					</ul>
			</section>
			</div>

		</div>
	</div>
	<div id="content">
		<div class="row">
			<div class="large-12 small-12 columns">
				<div class="meta_landing">
					<div class="row">
						<div class="large-6 small-12 columns">
							<h1>Patojo Chispudo</h1>
							<p>
								Las empresas con mas opiniones.
								Tu puedes aportar con tu opinion.
							</p>
							<div>
								<a href="/empresas/" class="button call_to_action demi-full-width">
									Opinar
								</a>
							</div>
						</div>
						<div class="large-6 small-12 columns">
							<div class="featured_content">
								<%= image_tag('cosa.png') %>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="large-5 small-12 columns">
							<h2>Para que Sirve?</h2>
							<p>
								Para ayudarte a tomar <strong>mejores decisiones</strong> cuando buscas trabajo.
							</p>
							<p>
								No basta con saber lo que la empresa te dice que ofrece, es bueno conocer las
								<strong>opiniones</strong> de trabajadores y extrabajadores de las empresas para saber como
								realmente es trabajar en ese lugar.
							</p>
							<h2>Como Funciona?</h2>
							<p>
								Tu ingresas <strong>tu opinion</strong> de las empresas que has trabajado y/o que actualmente
								trabajas para tener una mejor calificacion para esas empresas.
							</p>
							<ul>
								<li>Tu puedes opinar</li>
								<li>La calificacion es obtenida en base a opinion</li>
								<li>Tomas mejores decisiones</li>
							</ul>
							<img alt="300x400&amp;text=image" src="300x400&text=Image">
						</div>
						<div class="large-7 small-12 columns">
							<div class="row">
								<div class="feature large-6 small-12 columns">
									<h3>Yo Voto</h3>
									<a href="#"><img alt="75x75&amp;text=image" class="th radius" src="75x75&text=Image">
									</a><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus odio, at vestibulum nunc tristique.</p>
								</div>
								<div class="feature large-6 small-12 columns">
									<h3>Veo el Ranking</h3>
									<a href="#"><img alt="75x75&amp;text=image" class="th radius" src="75x75&text=Image">
									</a><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus odio, at vestibulum nunc tristique.</p>
								</div>
								<div class="feature large-6 small-12 columns">
									<h3>Tomo Mejores Decisiones</h3>
									<a href="#"><img alt="75x75&amp;text=image" class="th radius" src="75x75&text=Image">
									</a><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus odio, at vestibulum nunc tristique.</p>
								</div>
								<div class="feature large-6 small-12 columns">
									<h3>Denuncio a las empresas</h3>
									<a href="#"><img alt="75x75&amp;text=image" class="th radius" src="75x75&text=Image">
									</a><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat faucibus odio, at vestibulum nunc tristique.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="push"></div>
</div>
<div id="footer">
	<div class="row">
		<div class="large-8 small-3">
			<h4>Comenta</h4>
			<p>
				Puedes enviar tus comentarios y/o sugerencias a comentario@patojochispudo.com
			</p>
		</div>
	</div>
</div>