<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @calificacion.nombre %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @calificacion.numero %>
</p>

<%= link_to 'Edit', edit_calificacion_path(@calificacion) %> |
<%= link_to 'Back', calificacions_path %>
