<div class="wrapper">
	<div id="content">
		<div class="row">
			<div class="large-12 small-12">
				<div class="meta_landing">


							<h1>Ranking de Empresas</h1>
							<table>
							  <thead>
							    <tr>
							      <th>Nombre</th>
							      <th>Votos</th>
							    </tr>
							  </thead>

							  <tbody>
							    <% @empresas.each do |empresa| %>
							    	<% if empresa.visible %>
									  <tr>
									    <td>
									    	<% if empresa.imagen.blank? == false %>
									    		<%= link_to image_tag(empresa.imagen, height: '75', width: '75'), empresa, :class => 'th radius' %>
									    	<% else %>
									    		<%= link_to image_tag('blank.png', height: '75', width: '75'), empresa, :class => 'th radius' %>
											<% end %>
									    	<%= link_to empresa.nombre, empresa %>
								    	</td>
									    <td><%= empresa.votos.count %></td>
									    <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
									  </tr>
							    	<% end %>
							    <% end %>
							  </tbody>
							</table>
							<%= link_to 'Nueva Empresa', new_empresa_path, :class => 'button call_to_action demi-full-width' %>

				</div>
			</div>
		</div>
	</div>
</div>