<div class="wrapper">
	<div id="content">
		<div class="row">
			<div class="meta_landing">
				<p id="notice"><%= notice %></p>
				<h1>
					<%= @empresa.nombre %>

				  	<% if @empresa.imagen.blank? == false %>
						<%= image_tag(@empresa.imagen, height: '125', width: '125') %>
					<% else %>
						<%= image_tag('blank.png', height: '125', width: '125', :class => 'th radius') %>
					<% end %>
				</h1>

				<h2>
				  Total Opiniones
				</h2>
				<h3>
				  <%= @empresa.votos.count %>
				</h3>
			</div>
			<hr>
			<div class="row">
				<div class="feature large-5 small-12 columns">
					<h2>
						Opiniones Actuales
					</h2>
					<p>
						Resultado de las opiniones para la empresa.
					</p>
					<table>
						<% @cali.each do |c| %>
							<tr>
					    		<td><%= c[0] %></td>
					    		<td><%= c[1].to_i %></td>
						    	<td>
							    	<%= image_tag('caritas/negras/' + c[1].to_i.to_s + '.png', height: '40', width: '40') %>
						    	</td>
					    	</tr>
					    <% end %>
					</table>
				</div>
				<div class="feature large-7 small-12 columns">
					<h2>
						Ayudanos con tu opinion
					</h2>
					<p>
						Selecciona la opinion que se acerque mas
						a como te sentiste en la empresa, en cada
						una de las areas a calificar.
					</p>
					<%= render "votos/form" %>
				</div>
			</div>
		</div>
	</div>
</div>